.greendiv {
    width: 450px;
    height: 250px;
    background-color: green;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    

}

.reddiv{

    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.argentina{
    width: 450px;
    height: 100px;
    border-top: 100px solid skyblue;
    border-bottom: 100px solid skyblue;
    text-align: center;
    margin: 0px auto;
}
.argentina img {
    width: 100px;
}
   

